@import url(' https://fonts.cdnfonts.com/css/helvetica-neue-5 ');

.font-family {
    font-family: 'Helvetica Neue', sans-serif;
}


.py-22 {
    padding-top: 22px;
    padding-bottom: 22px;
}

.gap-24 {
    gap: 24px;
}

.navbar-link {
    color: white;
}

.navbar-link:hover {
    color: #00A8E8;
}

.z-5 {
    z-index: 5;
}

.mx-548 {
    max-width: 548px;
}

.gap-24 {
    gap: 24px;
}

.py-16 {
    padding-top: 16px;
    padding-bottom: 15px;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.rotate40 {
    transform: rotate(42deg);
}


.rotate-45 {
    transform: rotate(-43deg);
}

.nav-btn {
    padding: 12px 20px 12px 20px;
    border-radius: 0px 50px 50px 50px;
    border: none;
    background-color: white;
}

.nav-btn:hover {
    background-color: #00A8E8;
    color: white;
}

.nav-btn:hover .arrow-svg path {
    stroke: white;
}

.mx-506 {
    max-width: 506px
}

.address-input {
    border-radius: 0px 100px 100px 50px;
    border: 1px solid #00000033;
    padding: 24px 276px 24px 22px;
}

.home-btn {
    padding: 12px 20px 12px 20px;
    border-radius: 0px 50px 50px 50px;
    background-color: #00A8E8;
    border: none;
    left: 54%;
    margin-top: 13px;
}

.home-btn:hover {
    background-color: #257da0;
}

.home-image {
    max-width: 558px;
    transform: translateY(25%);
}

.gap-51 {
    gap: 51px;
}

.mt-174 {
    margin-top: 174px;
}

.more-para {
    transform: translateY(245%);
}

.slider-card {
    transform: translateY(400%);
}


/* section-2 */
.footer-btn {
    padding: 12px 20px 12px 20px;
    border-radius: 0px 50px 50px 50px;
    background-color: #00A8E8;
    border: none;
    left: 54%;
    margin-top: 13px;
}

.footer-btn:hover {
    background-color: #277493;
}

.header-bg {
    background-image: url(../image/png/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.header-top-div {
    min-height: 329px;
    border-radius: 4px;
    background-image: url(../image/png/futer-top-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-53%);
}

.mx-620 {
    max-width: 620px;
}

.footer-bottom-line {
    width: 100%;
    height: 61px;
    border-top: 1px solid #FFFFFF33;
}

.footer-bottom-p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.footer-bg {
    background-image: url(../image/png/Footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.max-width-1140 {
    max-width: 1140px !important;
}

.min-height-643 {
    min-height: 643px;
}

.mx-297 {
    max-width: 297px;
}

.mb-14 {
    margin-bottom: 14px;
}

.mb-68 {
    margin-bottom: 68px;
}

.mb-500 {
    margin-bottom: 500px;
}

@media (max-width:1140px) {
    .over-flow {
        overflow-x: auto;
    }
}

@media (max-width:991.98px) {

    .nav-link {
        display: flex !important;
        flex-direction: column;
        background: #00243C !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 3;
    }

    .show-navbar {
        right: 0 !important;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .direction-colomn {
        flex-direction: column;
    }

    .home-btn {
        left: 50%;
    }

}

@media (max-width:767.98px) {
    .home-btn {
        left: 66%;
    }

    .address-input {
        padding: 24px 276px 24px 22px;
    }
}

@media (max-width:575.98px) {
    .mt-146 {
        margin-top: 50px;
    }

    .text-center-sm {
        text-align: center;
    }
}

@media (min-width:320px) {

    .home-btn {
        top: 93%;
        left: 26%;
    }
}

@media (min-width:390px) {

    .home-btn {
        top: 0;
        left: 72%;
    }
}

@media (min-width:450px) {
    .address-input {
        padding: 24px 262px 24px 22px;
    }

    .home-btn {
        top: 0;
        left: 72%;
    }
}

@media (min-width:502px) {
    .address-input {
        padding: 24px 276px 24px 22px;
    }

    .home-btn {
        top: 0;
        left: 67%;
    }
}

@media (min-width:768px) {
    .home-btn {
        top: 0;
        left: 50%;
    }
}

@media (min-width:992px) {
    .home-btn {
        top: 0;
        left: 72%;
    }

    .footer-btn {
        top: 0;
        left: 75%;
    }
}

@media (min-width:1024px) {
    .home-btn {
        top: 0;
        left: 72%;
    }
}

@media (min-width:1199px) {
    .home-btn {
        top: 0;
        left: 67%;
    }
}